<div class="top-title">
 Are you an Inventor or an Investor?
</div>

<div class="about_accountable">
    <%= form_tag sessions_accountable_form_path, :method => :post do %>

      <div class="index-list">
        <%= label_tag :Inventor %>
        <%= radio_button_tag 'account[accountable_type]', :Inventor  %>
      </div>  

      <div class="index-list">
        <%= label_tag :Investor %>
        <%= radio_button_tag 'account[accountable_type]', :Investor  %>
      </div>

      <div class="index-list">
        <%= submit_tag("Submit") %>
      </div>  

  <% end %>

</div>