<div class="top-title">
  <center>
    Log in to your Account
  </center>  
</div>

<div class="about-accountable">


  <%= form_tag('/login', method: :post) do %>

  <div class="index-list">
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>  

  <div class="index-list">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>  

  <div class="index-list">
    <%= submit_tag "Enter" %>
  </div>  

  <% end %>

  <div class="index-list">
    <center>
      <%= image_tag("paper-light.png", style:'width:50%') %>
    </center>
  </div>

</div>  