 <div class="about-accountable">

  <%= render partial: "flash_messages/errors" %>

  <%= form_for(@idea) do |f|  %>

  <div class="index-list">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="index-list">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>  

  <div class="index-list">
    <%= f.label :group %>
    <%= f.collection_select :group_id, Group.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="index-list">
    <%= f.label :fund_goal, "Funding Goal" %>
    <%= f.text_field :fund_goal %>
  </div>

  <div class="index-list">
    <%= f.submit "Brainstorm!" %>
  </div>  

<% end%>
</div>