<div class="top-title">
  All Current Ideas

   <div class="dash-links">
    <center>
      <%= image_tag("creative-bulb.png", style:'width:70%') %>
      </center>
    </div>

</div>
<div class="about-accountable">

  <div class="index-list">
    <%= link_to "Click to View Most Popular Idea!", ideas_most_popular_path %>
  </div>

      <% @ideas.each do |idea| %>
    <div class="index-list">
        <%= link_to idea.title, idea_path(idea) %><br>
        Description: <%= idea.description %><br>
        Inventor: <%= link_to idea.inventor.name, inventor_path(idea.inventor) %>
    </div>  
      <% end %> 

</div> 
