
<div class="top-title">
  <%= @idea.title %>
</div>

<div class="about-accountable">
  <div class="index-list">Inventor: <%=link_to @idea.inventor.name, inventor_path(@idea.inventor) %></div>
  <div class="index-list">Decription: <%= @idea.description %></div>
  <div class="index-list">Grouping: <%= @idea.group.name %></div>
  <div class="index-list">Funding Goal: $<%= @idea.fund_goal %></div>
<%# </div>   %

<%# <div class="idea-list"> %>
  <div class="index-list">
    <% if inventor_account %>

        Comment and Collaborate: <br>

        <%= form_tag new_idea_comment_path(@idea), :method => :post do %>

          <%= text_area_tag :'comment[text]' %><br>

          <%= submit_tag("Submit") %>
          
        <% end %>
    <% end %>    
  </div>


  <div class="index-list"> 
    All Feedback >>
  </div>
  <div class="comment-list">
    <% @idea.comments.each do |comment| %>
      <%= comment.text %><br>
      Feedback by: <%= link_to comment.inventor.name, inventor_path(comment.inventor) %><br>
      at <%= time_of_creation(comment) %><br>
    <% end %>
    </div>
  <div class="index-list">
    <%= link_to 'Browse all Ideas', ideas_path %>
  </div>  

</div>  