
<div class="top-title">
  <%= @idea.title %>


</div>

<div class="about-accountable">

  <%= render partial: "flash_messages/success" %>
  <%= render partial: "flash_messages/popular" %>
  
  <div class="index-list">Inventor: <%=link_to @idea.inventor.name, inventor_path(@idea.inventor) %></div>
  <div class="index-list">Decription: <%= @idea.description %></div>
  <div class="index-list">Grouping: <%= @idea.group.name %></div>
  <div class="index-list">Funding Goal: $<%= @idea.fund_goal %></div>
  
   <%= mail_link %>
   <%= edit_link %>

  <div class="favorite">
      <%= render partial: "favorites/button" %>
  </div>    
  
  <div class="index-list">
    <% if inventor_account %>

        Comment and Collaborate: <br>

        <%= form_tag new_idea_comment_path(@idea), :method => :post do %>

          <%= text_area_tag :'comment[text]', "Type comment here...", size: "55x10" %><br>

          <%= submit_tag("Submit") %>
          
        <% end %>
    <% end %>    
  </div>

<div class="comment-container">

      <div class="comment-list"> 
        All Feedback >>
      </div>
        <% @idea.comments.each do |comment| %>
      <div class="comment-list">
          <%= comment.text %><br>
          Feedback by: <%= link_to comment.inventor.name, inventor_path(comment.inventor) %><br>
          at <%= time_of_creation(comment) %><br>
        <% end %>
        </div>
  </div>
      <div class="index-list">
        <%= link_to 'Browse all Ideas', ideas_path %>
      </div>  


</div>  