<div class="top-title">
  <%= @investor.name %>
</div>

<div class="about-accountable">

Favorite Ideas:

<%= render partial: "flash_messages/danger" %>
<%= render partial: "flash_messages/success" %>

  <% @investor.ideas.each do |idea| %>
    <div class="index-list">
      Idea: <%= idea.title %><br>
      Inventor: <%= idea.inventor.name %><br>
      Notes: <%= find_favorite(idea).notes %><br>
    
      <%= link_to "Add or Change Notes", edit_investor_idea_favorite_path(@investor, idea, idea) %>
    </div>
  <% end %>  

</div>