
<div name="top-title">
<h1><%= @inventor.name %></h1>
</div>
<div name="about-accountable">
Located in: <%= @inventor.location %><br>

About me: <%= @inventor.bio %><br>
<br>
Contact <%= @inventor.name %>: <%= @inventor.account.email %><br>
<br>
My Ideas:<br>

<% @inventor.ideas.each do |idea| %>
  <%= link_to idea.title, idea_path(idea) %> - 
  <%= time_of_creation(idea) %>
  <br>
<% end %>
</div>

<div name="if-accountable">
<% if @inventor == current_user %>
  <%= link_to 'Brainstorm Here!', new_inventor_idea_path(@inventor) %>
<% end %>  
</div>
