
<div class="top-title" >
<%= @inventor.name %>


<div class="dash-links">
  <% if @inventor == inventor_account %>
    <%= link_to 'Brainstorm Here!', new_inventor_idea_path(@inventor) %>
  <% end %>  
  <%= inventor_edit_link %>
  </div>
</div>
<div class="about-accountable">

  <%= render partial: "flash_messages/success" %>

  <%= render 'about', user: @inventor %>


  <div class="comment-container">
    <div class="comment-list">
    My Ideas:
    </div>
  <% @inventor.ideas.each do |idea| %>
    <div class="comment-list">
    <%= link_to idea.title, idea_path(idea) %> - 
    <%= time_of_creation(idea) %>
    </div>
  <% end %>
    
  
  </div>
</div>
