
<div class="top-title" >
<%= @inventor.name %>
  <% if @inventor == current_user %>
    <%= link_to 'Brainstorm Here!', new_inventor_idea_path(@inventor) %>
  <% end %>  
</div>
<div class="about-accountable">

  <div class="index-list">Located in: <%= @inventor.location %></div>

  <div class="index-list">About me: <%= @inventor.bio %></div>

  <div class="index-list">Contact <%= @inventor.name %>: <%= @inventor.account.email %></div>


  <div class="idea-list">
  My Ideas:<br><br>

  <% @inventor.ideas.each do |idea| %>
    <%= link_to idea.title, idea_path(idea) %> - 
    <%= time_of_creation(idea) %>
  <% end %>
    <br>
  </div>
</div>

<div class="if-accountable">

</div>
