<div class="top-title">
  <%= @investor.name %>
    <div class="dash-links"><%= link_to 'Ideas Currently Funding', investor_favorites_path(@investor) %></div>
    <div class="dash-links"><%= link_to 'View Ideas', ideas_path %></div>
    <div class="dash-links"><%= link_to 'Inventors', inventors_path %></div>
  

</div>

<div class="about-accountable">

  <%= render partial: "flash_messages/success" %>
  
  <%= render "/inventors/about", user: @investor %>

</div>

<div name="if-accountable">

</div>