<!DOCTYPE html>
<html>
  <head>
    <title>Project Brainstorm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('brainstorm_favicon.png'), :rel => 'icon', :type => "image/png" %>
  </head>
  <div class="nav-bar">
  <% if logged_in? %>
    <%= link_to 'My Dashboard', dashboard_route, class: "nav-link" %>
    <%= link_to 'About Invention', about_invention_path, class: "nav-link" %>
    <%= link_to 'Log Out', logout_path, class: "nav-link" %>
  <% else %> 
    <%= link_to 'Sign Up', signup_path, class: "nav-link" %>
    <%= link_to 'Sign In', login_path, class: "nav-link" %>
  <% end %>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
