<div class="top-title">
  Create Account
</div>  
<%# Create Account: Are you an Inventor or an Investor? %>
<div class="about-accountable">

 <%= render partial: "flash_messages/errors" %>

  <%= form_for(@account) do |f| %>
    
    <div class="index-list">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <%# <%= error_msg_for(@account, :username).html_safe %>
    <div class="index-list">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <%# <%= error_msg_for(@account, :email).html_safe %>
    <div class="index-list">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>  
    <%# <%= error_msg_for(@account, :password).html_safe %>
    <div class="index-list">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>  
    <%# <%= error_msg_for(@account, :password_confirmation).html_safe %>
    <div class="index-list">
      <%= f.label :inventor, "Inventor" %>
      <%= f.radio_button :accountable_type, 'Inventor' %>
      <%= f.label :investor, "Investor" %>
      <%= f.radio_button :accountable_type, 'Investor' %>
    </div>

    <div class="index-list">
      <%= f.submit "Get stormin'" %>
    </div>  

  <% end %>

  <div class="index-list">
    <center>
      <%= image_tag("paper-light.png", style:'width:50%') %>
    </center>
  </div>
</div>